html *
{
   font-family: Asap;
}


h1 {
	text-align: center;
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 100px;
	font-family: Cour;
	font-weight: bold;
	line-height: normal;
	font-size: 50px;
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #e6d00c,
	0 3px 0 #e6d00c,
	0 4px 0 #e6d00c,
	0 3px 0 #e6d00c,
	0 4px 0.2px #e6d00c,
	0 0 5px rgba(0,0,0,.3),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
}


body {
	margin: 0;
    background-color: black;
}


ul{

	list-style-type: none;
}

.container {
	margin: auto;
	width: 1000px;
	position: relative;
}
#top{
  
	height : 270px;
}

#top .container {
	height: 600px;
}

#header {
	height: 100px;
}

#ResiliaLogoTop {
	float:left;
	margin-top: 30px;
	padding: 10px;
	width: 150px;
	color: #ccc;
}


#menutop {
	float: right;
	margin-top: 50px;
	margin-right: 0px;
}

#menutop a {

	font-family: "Cour";
	line-height: normal;
	font-size: 15px;
	color: 	#e6d00c;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menutop li {
	margin-right: 30px;
	display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo {
	float:left;
	width: 100%;
    margin-bottom: 80px;

}

#titulo p {
	text-align: center;
}



#traducao{

	padding-top: 18px;
	padding-bottom:0%;
	height: 500px;
	background-color: #030303;

}


#caixa-escolha {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 18px;


}

#caixaescolha {
    transition: all 0.3s;
  }
#BotaoBase64 {
	float: right;
	width: 140px;
	height: 35px;
	border: 0;
	color: rgb(0, 0, 0);
	font-family: "AsapBD";
    font-size: 18px;


	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;

}

#BotaoCesar {
	float: right;
	width: 140px;
	height: 35px;
	border: 0;
	color: rgb(0, 0, 0);
	font-family: "AsapBD";
    font-size: 18px;


	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
#traducao2 {
	height: 354px;
}


#traducao2 textarea {
	float: left;
	resize: none;
	font-size: 25px;

	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;

	border:hidden;
	padding: 15px;
	display: block;
    width: 470px;
    height: 250px;
    margin-bottom: 0%;
}


#traducao2 p {
	float:left;
	color: white;
	-webkit-border-radius: 0 20px 20px 0;
	-moz-border-radius: 0 20px 20px 0;
	border-radius: 0 20px 20px 0;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 15px;
    width: 470px;
    height: 250px;
    max-height: 320px;
    overflow: auto;
    margin: 0;
	
}
#traducao3{
    color: #ffffff;
    margin-top: -60px;
}

#BotaoTraduzir {
	float: right;
	border: 0;
	padding: 7px 60px;
	margin: 10px;
	font-family: Cour;
	font-weight: bold;
	height: 35px;
    margin-top: -5px;
	font-size: 16px;


	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	background-color: #2352d3;
	color: white;
}

#infosenha {
	float: right;
	width: 240px;
    margin-top: -5px;
	font-size: 13px;
	color: #BDBDBD;
	text-align: right;
}

#sobreoscodigos {
	padding-top: 0px;
	padding-bottom: 60px;

}

#explicacodigos{

	border-style: solid;
	border-width: 3px;
	padding: 60px 30px;
	border-color: #e6d00c;
	box-shadow: 0px 0px 20px #e6d00c, 0px 0px 20px #e6d00c;
	height: 200px;
}

#explicacodigos h3 {
	font-family: Cour; 
	font-weight: bold;
	text-align: right;
	color: #e6d00c;
}

#explicacodigos p {
	
	color: #4F4F4F;
	margin-left: 20px;
	margin-right: 30px;
}

#explicacodigos a {
	
	color: #e6d00c;
	margin-left: 20px;
}


